<div class="container">
    <h1 class="text-center mb-5">User list</h1>
    <div class="row">
      <div class="col-md-4" *ngFor="let user of userData">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text"><strong>Email:</strong> {{user.email}}</p>
            <p class="card-text"><strong>Age:</strong> {{user.age}}</p>
            <a [routerLink]="['/users/user/' + user.userId]" routerLinkActive="router-link-active" class="btn btn-primary">Update</a>
            <button class="btn btn-danger" (click)="deleteUser(user.userId)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  