<div class="navbar">
    <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
    <a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a>
    <a [routerLink]="['/addUser']" routerLinkActive="router-link-active" >addUser</a>
</div>

<!-- <app-text-enhancer></app-text-enhancer> -->
<!-- <app-component-lifecycle></app-component-lifecycle> -->
<!-- <app-component-a></app-component-a> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-directives></app-directives> -->

<router-outlet></router-outlet>