<div class="navbar nav">
    <div class="mx-auto d-flex gap-5 justify-content-center">
        <a [routerLink]="['users']" routerLinkActive="router-link-active" >Users</a>
        <a [routerLink]="['text-analyser']" routerLinkActive="router-link-active" >Text-analyser</a>
        <a [routerLink]="['directives']" routerLinkActive="router-link-active" >directives</a>
        <a [routerLink]="['chat']" routerLinkActive="router-link-active" >Chat</a>
        <a [routerLink]="['harrypotter']" routerLinkActive="router-link-active" >HarryPotter</a>
        <a [routerLink]="['rxjsimpl']" routerLinkActive="router-link-active" >Items</a>
        <a [routerLink]="['mapimpl']" routerLinkActive="router-link-active" >Rxjs ope</a>
    </div>
</div>
<!-- 
<app-text-enhancer></app-text-enhancer>
<app-component-lifecycle></app-component-lifecycle>
<app-component-a></app-component-a>
<app-data-binding></app-data-binding>
<app-directives></app-directives> -->

<router-outlet></router-outlet>