<div class="container">
    <div class="form-group mb-3 ">
      <h1 class="text-center mb-3">TEXT ANALYZER</h1>
      <textarea
        type="text"
        class="form-control w-100"
        id="inputText"
        [(ngModel)]="para"
        style="height: 100px;"
        placeholder="Type something here..."
      ></textarea>
    </div>
  
    <p class="text-primary">UpperCase: {{ para | uppercase }}</p>
    <p class="text-primary">LowerCase: {{ para | lowercase }}</p>
  
    <p class="mt-2">Length of the paragraph: {{ para.length }}</p>
  
    <p>Letters: <span class="">{{ countLetters() }}</span></p>
  
    <p>Numbers: <span class="">{{ countNumbers() }}</span></p>
  
    <p>Special characters: <span class="">{{ countSpecialCharacters() }}</span></p>
  
    <p>Words: <span class="">{{ countWords() }}</span></p>

    <div class="text-center mt-5">
      <h2 class="text-center mb-3">Come Check Your Power</h2>
      <div class="form-group">
        <input type="text" class="form-control mb-2" placeholder="Base Number" [(ngModel)]="baseNumber">
        <input type="text" class="form-control mb-2" placeholder="Power" [(ngModel)]="power">
      </div>
      <h3 class="font-weight-bold">Result: {{ baseNumber | exponentialStrength:power }}</h3>
    </div>
</div>

  