mat-grid-list {
    width: 100%;
  }

  mat-grid-tile {
    padding: 10px;
    // background: lightblue;
    // background-color: red;
  }
  
  mat-card {
    width: 100%;
    margin: 10px;
    background: lightblue;

    // background-color: blue
  }

  .actionButtons{
    text-align: right;
    width: 100%;
  }
  